apiVersion: apps/v1
kind: Deployment
metadata:
  name: docker-spring-boot
spec:
  replicas: 3
  template:
    metadata:
      labels:
        app: docker-spring-boot
    spec:
      containers:
        - name: docker-spring-boot
          image: 'digitasparth/docker-spring-boot:latest'
          ports:
            - containerPort: 8080